.keyboard {
  max-width: 55rem;
  margin: 1rem auto;
  background: var(--color-tertiary);
  border-radius: 1rem;
  padding: 0.5rem 0rem;
  font-family: monospace;
}

.keyboard-flex-row {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
}

.key-btn {
  position: relative;
  top: 0;
  left: -1.2rem;
  background-color: var(--color-secondary);
  color: var(--text-primary);
  border-radius: 0.3rem;
  margin: 0.15rem;
  padding: 0.2rem 0.4rem;
  text-align: left;
  font-size: 1rem;
  line-height: 1.2rem;
  flex-basis: 3rem; /* default width */
  flex-grow: 0;
}

.pressed {
  background-color: var(--color-accent);
  color: var(--text-accent);
}

.greyed {
  filter: opacity(0.3);
}

.highlight {
  box-shadow: 0 0 5px yellow ;
  color: yellow
}

#Delete, #Escape {
  flex-grow: 1;
}

#Backspace {
  /* padding-top: 0.4rem; */
  flex-grow: 1;
  text-align: right;
  font-size: 0.8rem;
}

#Tab {
  /* padding-top: 0.4rem; */
  flex-grow: 0.8;
  font-size: 0.8rem;
}
#Backslash {
  /* padding-top: 0.4rem; */
  flex-grow: 1;
  font-size: 0.8rem;
}

#CapsLock {
  /* padding-top: 0.4rem; */
  flex-grow: 3;
  font-size: 0.8rem;
}

#Enter {
  /* padding-top: 0.4rem; */
  flex-grow: 5;
  text-align: right;
  font-size: 0.8rem;
}

#ShiftLeft {
  /* padding-top: 0.4rem; */
  flex-grow: 3;
  font-size: 0.8rem;
}

#ShiftRight {
  /* padding-top: 0.4rem; */
  flex-grow: 4;
  text-align: right;
  font-size: 0.8rem;
}

#Space {
  flex-grow: 8;
}

.row-item-0, .row-item-1, .row-item-2, .row-item-3, .row-item-4 {
  height: 3rem;
}
